@using BinaryTool.Dom;
@using BinaryTool.Dom.Reader;
@using BinaryTool.Markup;

<Selector Label="DOM" Items="IReader.DefaultReaders" @bind-SelectedItem="SelectedLoader" />

@if (Dom is { } r)
{
    var data = _binary!;
    var tags = r.Build(data.Length);
    var html = tags.ToHtml(data, IsBinary);

    <div class="source">
        @(new MarkupString(html))
    </div>

    <div class="tree">
        @{
            RenderUl(r, 0);
        }
    </div>
}

@{
    void RenderUl(IReadOnlyList<Dom.DomSpan> spans, int i) => RenderUlInternal(spans, i);

    int RenderUlInternal(IReadOnlyList < Dom.DomSpan > spans, int i)
    {
        var span = spans[i];

        ++i;

        if (span.Kind is BinaryTool.Dom.DomKind.Map or BinaryTool.Dom.DomKind.List)
        {
            var className = span.Kind switch
            {
                BinaryTool.Dom.DomKind.Map => "map",
                BinaryTool.Dom.DomKind.List => "list",
                _ => "other",
            };

            <ul>
                @for (int j = 0; j < span.Length; j++)
                {
                    <li class="@className">
                        <span class="key">@spans[i].Key : </span>
                        @{
                            i = RenderUlInternal(spans, i);
                        }
                    </li>
                }
            </ul>
        }
        else if (span.Value is Exception ex)
        {
            <span class="error">
                Error at @span.Start,
                Message: @ex.Message
            </span>
        }
        else
        {
            var (str, cls) = span.Value switch
            {
                null => ("null", "keyword"),
                true => ("true", "keyword"),
                false => ("false", "keyword"),
                string s => ($"\"{s}\"", "string"),
                DateTime d => (d.ToString(@"yyyy-MM-dd hh:mm:ss"), "other"),
                { } x => (x.ToString()!, "other"),
            };
            <span class="@cls">
                @str
            </span>
        }

        return i;
    }
}

@code {
    [Parameter] public byte[]? Binary { get; set; }

    private byte[]? _binary;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (_binary != Binary)
        {
            _binary = Binary;
            Change();
        }
    }

    private IReader SelectedLoader { get => _loader!; set { _loader = value; Change(); } }
    private IReader? _loader;

    private void Change()
    {
        (Dom, IsBinary) = _binary is { } data && _loader is { } loader ? loader.Read(data) : default;
        DomChanged.InvokeAsync(Dom);
        IsBinaryChanged.InvokeAsync(IsBinary);
    }

    [Parameter]
    public IReadOnlyList<Dom.DomSpan>? Dom { get; set; }

    [Parameter]
    public EventCallback<IReadOnlyList<Dom.DomSpan>?> DomChanged { get; set; }

    [Parameter]
    public bool IsBinary { get; set; }

    [Parameter]
    public EventCallback<bool> IsBinaryChanged { get; set; }
}
